<h1><%=@task.title %></h1>
<h3><%= @task.details %></h3>
<% if @task.completed %>
  <p>Completed<i class="fa fa-check-square"></i></p>
<% else %>
  <p>Completed<i class="fa fa-square"></i></p>
<% end %>

<%= link_to "Update task", edit_path %>

<%= link_to "Back to list", tasks_path %>





